{{{Tableau 2}}}

<div class="table-responsive-sm col-sm-9 col-xs-12">
<table summary="" class="table  table-bordered">
<caption>Tableau 2 - Source : calculs CGDD</caption>
<thead class=" table-warning"><tr class="row_first"><th id="idf2e4_c0">Coûts généralisé pour la collectivité&nbsp;: approche socioéconomique</th><th id="idf2e4_c1">Coût généralisé pour l’usager (en internalisant certains coûts )</th></tr></thead>
<tbody>
<tr class="row_odd odd">
<td headers="idf2e4_c0">Coût marchand du service hors infrastructure (hors TICPE pour la voiture, hors subvention pour le métro, hors redevance pour les trottinettes)</td>
<td headers="idf2e4_c1">Coût marchand (y compris TICPE pour la voiture, subvention pour le métro, redevance pour les trottinettes)</td></tr>
<tr class="row_even even">
<td headers="idf2e4_c0">Effet de serre</td>
<td headers="idf2e4_c1"></td></tr>
<tr class="row_odd odd">
<td headers="idf2e4_c0">Pollution locale</td>
<td headers="idf2e4_c1"></td></tr>
<tr class="row_even even">
<td headers="idf2e4_c0">Bruit</td>
<td headers="idf2e4_c1"></td></tr>
<tr class="row_odd odd">
<td headers="idf2e4_c0">Accidentalité</td>
<td headers="idf2e4_c1">Accidentalité&nbsp;: part prise en compte par l’usager lui-même</td></tr>
<tr class="row_even even">
<td headers="idf2e4_c0">Coût marginal d’utilisation des infrastructures</td>
<td headers="idf2e4_c1"></td></tr>
<tr class="row_odd odd">
<td headers="idf2e4_c0">Congestion</td>
<td headers="idf2e4_c1"></td></tr>
<tr class="row_even even">
<td headers="idf2e4_c0">Stationnement</td>
<td headers="idf2e4_c1">Stationnement&nbsp;: part payée par l’usager</td></tr>
<tr class="row_odd odd">
<td headers="idf2e4_c0">Santé</td>
<td headers="idf2e4_c1">Santé&nbsp;: part prise en compte par l’usager lui-même</td></tr>
<tr class="row_even even">
<td headers="idf2e4_c0">Coût du temps</td>
<td headers="idf2e4_c1">Coût du temps</td></tr>
</tbody>
</table>
</div>
